docker run \
    {{benchmark_docker_args}} \
    -p 8080:80 \
    -v {{home_dir}}/.cache/huggingface:/data \
    ghcr.io/huggingface/text-generation-inference:latest{{image_suffix}} \
    --model-id {{model}}


