docker run \
    {{benchmark_docker_args}} \
    -v {{home_dir}}/.cache/huggingface:/root/.cache/huggingface \
    -p 8080:8000 \
    --ipc=host \
    {{image | default('vllm/vllm-openai')}}:latest \
    --model {{model}}
